<style>
@font-face {
    font-family: 'ubuntu';
    src: url('{{ url_for('static', filename='global/fonts/ubuntu.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'halant';
    src: url('{{ url_for('static', filename='global/fonts/halant.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm_plex_mono';
    src: url('{{ url_for('static', filename='global/fonts/ibm_plex_mono.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geologica';
    src: url('{{ url_for('static', filename='global/fonts/geologica.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('{{ url_for('static', filename='global/fonts/open_sans.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proza_libre';
    src: url('{{ url_for('static', filename='global/fonts/proza_libre.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sans';
    src: url('{{ url_for('static', filename='global/fonts/public_sans.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans';
    src: url('{{ url_for('static', filename='global/fonts/source_sans.ttf') }}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
</style>