{% macro  navbar(pages, active_page) %}
    <style>
        .navbar-brand img {
            height: 40px;
            width: auto;
        }
        .navbar-nav .nav-link:hover {
            background-color: #198754;
            color: white !important;
            border-radius: 4px;
        }
        .navbar-nav .nav-link.active {
            background-color: #20c997 !important;
            color: white !important;
            border-radius: 4px;
        }
        .navbar-toggler {
            border: none;
        }
        .navbar-toggler:focus {
            box-shadow: none;
        }
        @media (max-width: 991.98px) {
            .navbar-nav .nav-link {
                padding: 0.75rem 1rem;
                margin: 0.25rem 0;
            }
        }
    </style>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='global/img/field_station_logo.svg') }}" alt="Field Station Logo" class="me-2">
                <span class="d-none d-md-inline">Lost River Field Station</span>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    {% for page_name, url in pages %}
                        {% if page_name != "|" %}
                            <li class="nav-item">
                                <a class="nav-link {% if page_name == active_page %}active{% endif %}" href="{{ url }}">{{ page_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='global/img/isu_logo.png') }}" 
                         onclick="window.open('https://www.isu.edu/', '_blank').focus();" 
                         style="height: 35px; width: auto; cursor: pointer;" 
                         alt="ISU Logo" 
                         class="ms-2">
                </div>
            </div>
        </div>
    </nav>
    
    <div style="padding-top: 76px;"></div>
{% endmacro %}

{% macro navbar_init(active_page) %}
    {% import 'global/navbar.html' as nav %}
    {% set pages = [
                    ('Home', '/'),
                    ('Facilities', '/facilities'),
                    ('Borah Cam', '/borah-cam'),
                    ('Live Weather', '/weather'),
                    ('Seismic Activity', '/seismic'),
                    ('Visit Us', '/visit'),
                    ('Contact Us','/contact'),
                    ('Gallery', '/gallery')
    ] %}
    {{ nav.navbar(pages, active_page) }}
{% endmacro %}