<html lang="en">
<head>
    <title>Lost River Field Station</title>
    {% include 'global/head.html' %}
</head>
<body>
    {% import 'global/navbar.html' as nav %}
    {% set pages = [
                    ('Home', '/'),
                    ('Borah Cam', '/borah-cam'),
                    ('Live Weather', '/weather'),
                    ('Visit Us', '/visit'),
                    ('Contact Us','/contact')
    ] %}
    {{ nav.navbar(pages, 'Borah Cam') }}
    <div class="container" style="background-color: #677881;">
        <div style="margin: 20px;">
            <div style="width:75%; display: block; margin-left: auto; margin-right: auto;">
                <br />
                <h1>Live View of Borah Peak</h1>
                <img src="/borah-cam/video-feed" alt="Webcam feed">
                <br />
                <br />
            </div>
        </div>
    </div>
</body>
</html>