[Unit]
Description=Run check for updates every 24 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=24h
Unit=check_updates.service

[Install]
WantedBy=timers.target