[Unit]
Description=Run check for updates every 2 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=2min
Unit=check_updates.service

[Install]
WantedBy=timers.target