[Unit]
Description=Check for updates on GitHub and run build script
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/fieldstation/field_station/check_updates.sh
WorkingDirectory=/home/fieldstation/field_station
User=fieldstation

Group=fieldstation

[Install]
WantedBy=multi-user.target
