[Unit]
Description=Cloudflare Tunnel
After=network-online.target

[Service]
Type=simple
User=fieldstation
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/fieldstation/.cloudflared/config.yml run
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

# Ensures the service runs even when no user is logged in
TTYPath=/dev/console
StandardOutput=append:/var/log/lrfs.log
StandardError=append:/var/log/lrfs.log
[Install]
WantedBy=multi-user.target