[Unit]
Description=uWSGI instance to serve Lost River Field Station website
After=network-online.target

[Service]
ExecStart=/home/fieldstation/field_station/venv/bin/uwsgi --ini /home/fieldstation/field_station/lrfs.ini
WorkingDirectory=/home/fieldstation/field_station
Restart=always
RestartSec=5
User=fieldstation
Group=fieldstation
StandardOutput=append:/var/log/uwsgi-lrfs.log
StandardError=append:/var/log/uwsgi-lrfs.log
Environment="PYTHONUNBUFFERED=1"

# Ensures the service runs even when no user is logged in
TTYPath=/dev/console
StandardOutput=append:/var/log/lrfs.log
StandardError=append:/var/log/lrfs.log

[Install]
WantedBy=multi-user.target