<html lang="en">
<head>
    <title>Lost River Field Station</title>
    {% include 'global/head.html' %}
</head>
<body>
    {% import 'global/navbar.html' as nav %}
    {{ nav.navbar_init("Gallery") }}
    <div class="container" style="background-color: #677881;">
        <div style="margin: 20px;">
            <div style="width:75%; display: block; margin-left: auto; margin-right: auto;">
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</body>
</html>