<html lang="en">
<head>
    <title>Lost River Field Station</title>
    {% include 'global/head.html' %}
</head>
<body>
    {% import 'global/navbar.html' as nav %}
    {% set pages = [
                    ('Home', '/'),
                    ('Borah Cam', '/borah-cam'),
                    ('Live Weather', '/weather'),
                    ('Visit Us', '/visit'),
                    ('Contact Us','/contact')
    ] %}
    {{ nav.navbar(pages, 'Contact Us') }}
    <div class="container" style="background-color: #677881;">
        <div style="margin: 20px;">
            <div style="width:75%; display: block; margin-left: auto; margin-right: auto;">
                <br />
                <h3>Thanks for reaching out to us!</h3>
                <br />
                <p>
                    We are also reachable at <a href="tel:+12085882030" style="color:white !important;">208-588-2030</a> (Field Station) and <a href="tel:+12082823365" style="color:white !important;">208-282-3365</a> (ISU Geosciences Department)
                    during work hours (09:00-17:00 Mountain Time)
                </p>
                <br />
            </div>
        </div>
    </div>
</body>
</html>